LGMS/Asistente XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Asistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDA" type="xs:Int" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Anios_Asistente" type="xs:Int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
