LGMS/Calendario XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Calendario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:Int" minOccurs="1" maxOccurs="unbounded" use="required"/>
        <xs:element name="Nombre" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
