LGMS/Entrenador XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Entrenador">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:Int" minOccurs="1" maxOccurs="unbounded" use="requiered"/>
        <xs:element name="Anios_Entrenador" type="xs:Int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
