LGMS/Equipo XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Equipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:Int" minOccurs="1" maxOccurs="unbounded" use="requiered"/>
        <xs:element name="Nombre" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="Pagina_Web" type="xs:string"/>
        <xs:element name="Puntos" type="xs:Int" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="ID_Clendario" type="xs:Int" use="requiered"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
