LGMS/Jornadas XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Jornadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:Int" minOccurs="1" maxOccurs="unbounded" use="requiered"/>
        <xs:element name="Nombre" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="Fecha" type="xs:Date" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="ID_Calendario" type="xs:Int" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
