LGMS/Jugador XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Jugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDJ" type="xs:Int" minOccurs="1" maxOccurs="unbounded" use="requiered"/>
        <xs:element name="Rol" type="xs:string" minOccurs="1" maxOccurts="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
