LGMS/Usuario XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:Int" minOccurs="0" maxOccurs="unbounded" use="requiered"/>
        <xs:element name="Nombre" type="xs:string"/>
        <xs:element name="Contraseina" type="xs:string"/>
        <xs:element name="tipo" type="xs:string" use="check"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
